@use 'variables';

header {
  background-color: variables.$headerBgClr;
  color: variables.$headerClr;
  // color: set-text-color(variables.$headerBgClr);
  // @include set-background(variables.$headerBgClr);

  .header-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  a {
    color: variables.$headerClr;
    font-size: 1.125rem;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.25em;
      color: variables.$orange;
    }
  }

  nav {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      margin-left: 1rem;
    }

  }

  .showcase-content {
    background-color: variables.$showcaseBgClr;


    .showcase-container {
      margin: 0 auto;
      width: 80%;
      max-width: 1100px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        padding-right: 2rem;
      }

      img {
        width: 50%;
      }

      h1 {
        line-height: 1.2;
      }
    }
  }
}