$bgLite: #f5f1f9;

body {
  background-color: $bgLite;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
}

.lg-img {
  display: block;
  width: 30rem;
  height: auto;
  margin-bottom: 2rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}